<template>
    <button class="no-btn text-primary" id="theCopier" :data-clipboard-target="'#' + this.targetElement">
        <i class="fa fa-clipboard" aria-hidden="true"></i>
    </button>
</template>

<script>
    export default {
        props: [
            "targetElement",
        ],
        mounted() {
            const Clipboard = require("clipboard");

            var inputhidden = document.getElementById(this.targetElement);

            new Clipboard('#theCopier', {
                text: function (trigger) {
                    return inputhidden.value;
                }
            });
        },
    }
</script>

