<template lang="html">
    <div id="editor">
        <select class="form-control" name="language" @change="updateMode($event)" v-model="currentLanguage" style="margin-bottom: 0px; border: 0px; border-radius: 0px" v-if="options === 'true'">
            <option v-for="(lang, key) in languages" :value="key">{{ lang }}</option>
        </select>
        
        <textarea name="code" id="code" style="display:none;">{{ this.snippet }}</textarea>

        <codemirror v-model="snippet" ref="myCm" :options="CodeMirrorSettings" @input="onCodeChange">

        </codemirror>
    </div>


</template>

<script>
    import { codemirror } from 'vue-codemirror'
    import 'codemirror/lib/codemirror.css'
    import 'codemirror/mode/php/php.js'

    import 'codemirror/theme/eclipse.css'
    import 'codemirror/keymap/sublime'

    import 'codemirror/mode/php/php.js'
    import 'codemirror/mode/javascript/javascript.js'
    import 'codemirror/mode/clike/clike.js'
    import "../app/oeabl.js";
 
    import Modes from "../app/CodeMirrorModes";

    export default {
        props: {
            "readOnly": {},
            "code": {},
            "language": {
                default: "php"
            },
            "languageList": {},
            "options": {},
            "height": {
                default: "150px"
            }
        },
        data () {
            return {
                modeUrl: "codemirror/mode/",
                snippet: "",
                languages: [],
                currentLanguage: this.language == "" ? "php" : this.language,
                CodeMirror: {},
            };
        },
        components: {
            codemirror
        },
        computed: {
            currentMode() {
                return this.language;
            },
            CodeMirrorSettings() {
                return {
                    code: this.code,
                    readOnly: this.readOnly === "true" ? true : false,
                    tabSize: 4,
                    lineNumbers: true,
                    line: true, 
                    foldGutter: true,
                    styleSelectedText: true,
                    mode: Modes.GetMode(this.currentLanguage).mode,
                    keyMap: "sublime",
                    matchBrackets: true,
                    showCursorWhenSelecting: true,
                    theme: "eclipse",
                    extraKeys: { 
                        "Ctrl": "autocomplete" 
                    },
                };
            } 
        },
        mounted() {
            if (typeof(this.languageList) != "undefined") {
                this.languages = JSON.parse(this.languageList);
            }

            this.CodeMirror = this.$refs.myCm.codemirror;
            this.CodeMirror.setSize(null, this.height);
            this.snippet = this.code;
        },
        methods: {
            updateMode(event) {
                this.currentLanguage = event.srcElement.value;
            },
            onCodeChange() {
                const element = document.getElementById("code");

                if (element !== null) {
                    element.value = this.snippet;
                }
            }
        }
    }
</script>

<style lang="css">
</style>
