<template>
    <a class="favouriteButton" @click="toggleFavourite">
        <i :class="favouriteClass"></i>
    </a>
</template>

<script>
    export default {
        props: [
            "snippet",
        ],
        methods: {
            getRoute(route, data) {
                return window.route(route, data);
            },
            toggleFavourite() {
                axios.put(this.getRoute("api.snippets.favourite", this.snippet.id)) 
                    .then((response) => {
                        this.$emit("update");
                    });
            }
        },
        computed: {
            favouriteClass() {
                return {
                    "glyphicon": true,
                    "glyphicon-star-empty": ! this.snippet.favourited,
                    "glyphicon-star": this.snippet.favourited
                };
            }
        },
    }
</script>

<style scoped>

    .favouriteButton {
        cursor: pointer;
    }

</style>