<template lang="html">
    <div class="fileUpload">
        <img class="img-responsive img-rounded" v-if="currentImage !== ''" :src="this.currentImage" alt="">
        <input type="file" name="avatar" class="form-control" @change="loadFile">
    </div>
</template>

<script>
export default {
    props: ["imagePath"],
    data() {
        return {
            "currentImage": this.imagePath
        };
    },
    methods: {
        loadFile(e) {
            if (typeof(e.target.files[0] != "undefined")) {
                this.currentImage = URL.createObjectURL(e.target.files[0]);
            }
        }
    }

}
</script>

<style lang="css">

  .fileUpload img {
      max-height: 200px;
      margin-bottom: 5px;
  }

</style>
