<template>
    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <div class="list-group"  v-if="loggedIn">
                    <button type="button" :class="listClass('all')" @click="filterRadio('all')">All Snippets</button>
                    <button type="button" :class="listClass('favourites')" @click="filterRadio('favourites')">My Favourite Snippets</button>
                    <button type="button" :class="listClass('MySnippets')" @click="filterRadio('MySnippets')">My Snippets</button>
                </div>

                <div class="form-group">
                    <select name="language" class="form-control" @change="updateFilters($event, 'language')">
                        <option value="" :selected="selected('sort', 'newest_first')">Filter by Language</option>
                        <option v-for="(lang, key) in languages" :value="key" :selected="selected('language', key)"> {{ lang }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <select name="sorting" class="form-control" @change="updateFilters($event, 'sort')">
                        <option value="newest_first" :selected="selected('sort', 'newest_first')">Newest First</option>
                        <option value="oldest_first" :selected="selected('sort', 'oldest_first')">Oldest First</option>
                        <option value="recently_updated" :selected="selected('sort', 'recently_updated')">Most Recently Updated</option>
                        <option value="most_favourited" :selected="selected('sort', 'most_favourited')">Most Favourited</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</template>

<script>

    export default {
        props: [
            "languageList",
            "lastLanguage",
            "lastOrder",
            "user",
            "filters"
        ],
        data() {
            return {
                category: "all",
                languages: {}
            }
        },
        mounted() {
            this.languages = JSON.parse(this.languageList);
        },
        methods: {
            updateFilters(event, filter) {
                this.$emit("update", filter, event.srcElement.value);
            },
            filterRadio(filter) {
                this.$emit("update", "category", filter);
            },
            listClass(option) {
                return {
                    "list-group-item": true,
                    "active": this.filters.category == option,
                    "filters-list-item": true
                };
            },
            selected(key, value) {
                return this.filters[key] == value;
            }
        },
        computed: {
            loggedIn() {
                return this.user !== "";
            },
        },
        components: {

        }
    }
</script>
