<template>
    <li class="dropdown">
        <a href="#" :class="buttonClasses" data-toggle="dropdown" role="button" aria-expanded="false" @click="MarkAsSeen()">
            <i class="glyphicon glyphicon-bell"></i>
        </a>

        <ul class="dropdown-menu" role="menu">            
            <li v-if="notifications.length > 1" v-for="notification in notifications">
                <a :href="notification.data.url">
                    {{ notification.data.subject }}
                </a>
            </li>

            <li v-if="notifications.length < 1"><a href="#">No notifications yet</a></li>
        </ul>
    </li>
</template>

<script>
    export default {
        props: ['notifications'],
        methods: {
            GetNotifications() {
                axios.get("/notifications")
                    .then((response) => {
                        this.notifications  = response.data;    
                    })
                    .catch((error) => {
                        console.log("Unable to fetch notifications: " + error);
                    });
            },
            MarkAsSeen() {
                axios.put("/notifications", {"notifications": this.notifications})
                    .then((response) => {
                        this.$emit("update", response.data);
                    })
                    .catch((error) => {
                        console.log("Unable to mark notifications as read");
                    });
            }
        },
        computed: {
            buttonClasses: function() {
                return { 
                    "dropdown-toggle": true,
                    "notificationBell": true,
                    "hasNotifications": this.unread > 0
                }
            },
            unread: function() {
                return this.notifications.filter((notif) => {
                    return notif.read_at === null
                }).length;
            }
        }
    }
</script>
