<template>
    <ul class="pagination">

        <li v-if="isFirstPage" class="disabled"><span>«</span></li> 
        <li v-if="!isFirstPage">
            <a @click="changePage(1)" rel="prev">«</a>
        </li> 

        <li v-for="page in pages" :class="pageClass(page)">
            <a @click="changePage(page)"><span>{{ page }}</span></a>
        </li> 

        <li v-if="isLastPage" class="disabled"><span>»</span></li> 
        <li v-if="!isLastPage">
            <a @click="changePage(paginated.current_page + 1)" rel="next">»</a>
        </li>
    </ul>

</template>

<script>
    export default {
        props: ["paginated"],
        methods: {
            pageClass(page) {
                return {
                    "active": this.paginated.current_page === page
                };
            },
            changePage(newPage) {
                this.$emit("update", this.getNewPage(newPage));
            },
            getNewPage(newPage) {
                return this.paginated.path + "?page=" + newPage;
            }
        },
        computed: {
            isFirstPage() {
                return this.paginated.current_page === 1;
            },
            isLastPage() {
                return this.paginated.current_page === this.paginated.last_page;
            },
            backClass() {
                return {
                    "disabled": this.isFirstPage
                };
            },
            pages() {
                return this.paginated.last_page;
            }
        },
    };
</script>

<style scoped>

    .pagination li {
        cursor: pointer
    }

</style>