<template>
    <div class="panel panel-default panel-list">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10 col-xs-10">
                    <a :href="getRoute('snippets.show', snippet.id)">{{ snippet.name }}</a>
                </div>
                
                <div class="col-md-2 text-right col-xs-2">
                    <favourite-icon @update="$emit('update');" :snippet="snippet"></favourite-icon>
                </div>
            </div>
        </div>

        <div class="panel-body">
            {{ snippet.description }}
        </div>

        <!-- <div v-if="isUsers" class="panel-footer" style="vertical-align: center">
            <a :href="getRoute('snippets.edit', snippet.id)" class="pull-left">Update</a>

            <button type="button" class="text-danger pull-left no-btn" @click="displayModal = true">Delete</button>

            <a :href="badgeUrl"><span class="badge badge-info pull-right">{{ snippet.language }}</span></a>

            <div class="" style="clear:both"></div>

        </div> -->

        <div class="panel-footer" style="vertical-align: middle">
            <span class="pull-left">
                Added by <a :href="getRoute('user.show', snippet.user.username)">{{ snippet.user.username }}</a> about  {{ snippet.created_at }}
            </span>

            <a :href="badgeUrl"><span class="badge badge-info pull-right">{{ snippet.language }}</span></a>

            <div style="clear: both;">

            </div>
        </div>

        <ajax-modal v-if="displayModal" 
                button-label="Delete" 
                button-class="btn btn-danger"
                @update="modalUpdate"
                @close="displayModal = false">
            Are you sure you wish to delete this snippet?
        </ajax-modal>   
    </div>

</template>

<script>
    import AjaxModal from "./AjaxModal.vue";
    import FavouriteIcon from "./FavouriteIcon.vue";

    export default {
        props: [
            "snippet",
            "user",
        ],
        data()  {
            return {
                displayModal: false,
            };
        },
        methods: {
            getRoute(route, data) {
                return window.route(route, data);
            },
            modalUpdate() {
                this.deleteSnippet();
                this.displayModal = false;
            },
            deleteSnippet() {
                axios.delete(this.getRoute("api.snippets.destroy", this.snippet.id))
                    .then((response) => {
                        this.$emit("update");
                    });
            }, 
        },
        computed: {
            badgeUrl() {
                return this.getRoute("home") + "?language=" + this.snippet.language;
            },
            isUsers() {
                if (this.isLoggedIn) {
                    return this.snippet.user_id === this.user.id;
                }

                return false;
            },
            isLoggedIn() {
                return this.user !== {};
            }
        },
        components: {
            AjaxModal,
            FavouriteIcon
        }

    }
</script>

<style scoped>

    .favouriteButton {
        cursor: pointer;
    }

</style>