<template>

    <div class="panel panel-default col-md-12">
        <div v-if="IsLoggedIn">
            <comment-form :snippet-id="snippetId" @update="GetComments()"></comment-form>
        </div>

        <div v-if="!IsLoggedIn" class="text-center">
            <h4>Please <a href="/login">Login</a> to leave a comment.</h4>
        </div>

        <loading v-if="loading"></loading>

        <div v-if="!loading" v-for="comment in comments">
            <comment :comment="comment" :user-id="userId" @update="GetComments()" allow-reply="true"></comment>        
        </div>
    </div>        

</template>

<script>
    export default {
        props: [
            "snippetId",
            "userId"
        ],
        data() {
            return {
                comments: [],
                loading: true
            }
        }, 
        mounted() {
            this.GetComments();
        },
        methods: {
            GetComments() {
                this.loading = true;

                axios.get(this.url)
                    .then((response) => {
                        this.comments = response.data;
                        this.loading = false;
                    });
            },
        },
        computed: {
            url() {
                return "/api/snippets/" + this.snippetId + "/comments";
            },
            IsLoggedIn() {
                return this.userId !== "";
            }
        },
        components: {
            CommentForm: require("./comments/CommentForm.vue"),
        }

    }
</script>
