<template>
    <div>
        <div class="col-md-9">
            <loading v-if="loading"></loading>

            <div class="panel-list-container" v-if="!loading">
                <snippet v-for="(snippet, index) in Snippets.data"
                         :snippet="snippet" 
                         :favourited="false" 
                         :user="User"
                         :key="snippet.id"
                         @update="refreshSnippets"></snippet>

                <div v-if="!loading && Snippets.data.length < 1"> 
                    <div class="panel panel-default panel-list">
                        <div class="panel-body">
                            Sorry, we couldn't find any Snippets.
                        </div>
                    </div>
                </div>
            </div>



            <div v-if="Snippets.last_page > 1 && !loading">
                <paginator v-if="firstLoadComplete" :paginated="Snippets" @update="changePage"></paginator>

                <span v-if="!firstLoadComplete" v-html="links"></span>
            </div>
        </div>

        <div class="col-md-3">
            <filters :language-list="languages" @update="applyFilters" :user="user" :filters="filters"></filters>        
        </div>       

    </div>
</template>

<script>
    import Snippet from "./SnippetCard.vue";
    import Filters from "./Filters.vue";

    export default {
        props: [
            "stringSnippets",
            "user",
            "links",
            "languages"
        ],
        data() {
            return {
                Snippets: {
                    data: {}
                },
                User: {},
                loading: false,
                firstLoadComplete: false,
                filters: {
                    category: "all"
                }
            }
        },
        mounted() {
            this.Snippets = JSON.parse(this.stringSnippets);

            if (this.user != "") {
                this.User = JSON.parse(this.user);
            }

            this.SetFilters();
            this.getSnippets();
        },
        methods: {
            SetFilters() {
                let url =  new URL(window.location.href);
                const params = ["page", "category", "search", "language", "sort"];

                params.forEach((key) => {
                    this.getFilter(key, url.searchParams);
                });

                this.updateUrl();
            },
            updateUrl() {
                if (this.filters != {}) {
                    window.history.pushState({}, 'page 50', window.location.href.split('?')[0] + this.objectToQuerystring(this.filters));    
                }
            },
            getFilter(name, params) {
                if (params.has(name)) {
                    this.filters[name] = params.get(name);
                }
            },
            objectToQuerystring (obj) {
                return Object.keys(obj).reduce(function (str, key, i) {
                    var delimiter, val;
                    delimiter = (i === 0) ? '?' : '&';
                    key = encodeURIComponent(key);
                    val = encodeURIComponent(obj[key]);
                    return [str, delimiter, key, '=', val].join('');
                }, '');
            },
            getRoute(route) {
                return window.route(route);
            },
            getSnippets() {
                let url = this.user == "" ? this.getRoute("api.snippets.index") : this.getRoute("api.usersnippets.index");

                axios.get(url, { params: this.filters })
                    .then((response) => {
                        this.Snippets = response.data;
                        this.loading = false;
                        this.firstLoadComplete = true;
                    });
            },
            refreshSnippets() {
                this.loading = true;
                this.getSnippets();
                this.updateUrl();

            },
            changePage(newPage) {
                this.loading = true;
                axios.get(newPage)
                    .then((response) => {
                        this.filters.page = response.data.current_page;
                        this.Snippets = response.data;
                        this.loading = false;
                        this.updateUrl();

                    });           
            },
            applyFilters(key, filter) {
                this.filters[key] = filter;
                delete this.filters.page;                
                this.refreshSnippets();
            }
        },
        components: {
            Snippet,
            Filters
        }
    }
</script>
