<template>
    <div class="form-group">
        <div class="form-control tags-input-container" @click="setFocus()">
            <input type="hidden" :name="fieldName" v-model="tagsString">
            
            <span v-for="tag in tagsArray" class="form-tag">
                <span class="tag-item badge badge-info">
                    {{ tag }} 
                    <i class="glyphicon glyphicon-remove tag-button" @click="removeFromTags(tag)"></i>
                </span>
            </span>

            <span class="fill-span">
                <input type="text" v-model="inputValue" class="tag-input" ref="tagbox">
            </span>
        </div>
        <small>Seperate tags with a comma ","</small>
    </div>
</template>

<script>
    export default {
        props: ["fieldName", "defaultTags"],
        data () { 
            return { 
                tagsArray: JSON.parse(this.defaultTags),
                inputValue: ""
            };
        },
        watch: {
            inputValue(val) { 
                if (val.substring(val.length - 1) === ",") {
                    this.tagsArray = this.tagsArray.concat(val.split(",").filter(x => x).map((value) => { 
                        return value.trim(); 
                    }));

                    this.inputValue = "";
                }

            }
        },
        computed: {
            tagsString() {
                return this.tagsArray.join(",") + "," + this.inputValue.trim();
            },
        },
        methods: {
            setFocus() {
                this.$refs.tagbox.focus();
            },
            removeFromTags(tag) {
                this.tagsArray = this.tagsArray.filter((item) => { return item !== tag });
            }            
        }
    };
</script>

<style>
    .tag-button {
        cursor: pointer;
        margin-left: 3px;
    }

    .tag-item {
        margin-right: 3px;
        padding-bottom: 6px;
    }

    .fill-span {
        flex-grow: 100;
    }

    .tag-input {
        margin-left: 3px;
        border: none;
        outline: none;
        width: 100%;
    }

    .tags-input-container:hover {
        cursor: text;
    }

    .tags-input-container {
        display: flex;
        flex-wrap: wrap;
        min-height: 36px !important;
        height: fit-content;
    }
</style>


