<template>
    <div class="modal fade" :id="id" role="dialog">
        <div class="modal-dialog modal-md">
        <div class="modal-content text-left">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="modal-title">{{ message }}</p>
            </div>
            <div class="modal-body text-right">
                <div class="row">
                    <button type="button" class="btn btn-default pull-right" style="margin-right: 10px; margin-left: 5px;" data-dismiss="modal">Cancel</button>

                    <form :action="action" method="post" class="pull-right">
                        <input type="hidden" name="_token" :value="csrf">
                        <input type="hidden" name="_method" :value="method">
                        <button type="submit" :class="buttonClass">{{ buttonLabel }}</button>
                    </form>

                </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["id", "message", "buttonLabel", "buttonClass", "action", "method", "csrf"],
    }
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        padding: 5px 10px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
      float: right;
    }

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>
