
// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");

// Variables
@import "variables";

@import "./progress";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$blue: #1A7DD7;
$yellow: #F2B809;
$red: #F34605;
$navy: #03275A;
$green: #29BF12;

$grey-dark: #3C3744;
$grey: #C9C8CC;

$background-grey: #F1F3F5;

[v-cloak] {
  display: none;
}

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $grey-dark;
  line-height: 1.25;
  background-color: $background-grey
}
7
h2 {
  color: $grey-dark;
}

a {
    color: $blue;
    text-decoration: none;
}

a:hover {
    color: shade($blue, 42%);
    text-decoration: none;
}

.clearfix {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.top-h1 {
  margin-top: 0;
}

// NOTE TO SELF: do this for sort and filter
// .input-group {
//     position: relative;
//     display: block;
//     border-collapse: separate;
// }

.text-primary {
  color: $blue;
}

.btn-primary {
  background-color: $blue;
  border: none;
  transition: all .125s;
}

.btn-primary:hover {
  background-color: shade($blue, 42%);
  transition: all .125s;
}

.btn-danger {
  background-color: $red;
  border: none;
}

.btn-danger:hover {
  background-color: shade($red, 42%);
  transition: all .125s;
}

.btn-success {
  background-color: $green;
  border: none;
}

.btn-default {
  background-color: $blue;
  border: none;
  color: white;
}

.btn-default:hover {
  background-color: shade($blue, 42%);
  transition: all .125s;
  border: none;
  color: white;
}

.btn-success:hover {
  background-color: shade($green, 42%);
  transition: all .125s;
}

.no-btn {
  border: none;
  background: none;
  padding: 0px 0px 0px 10px;
}

.text-danger {
  color: $red;
}

.input-group-btn .search-bar-btn {
  border-radius: 0px;
  border: 1px solid #ccd0d2 !important;
  background: transparent !important;
  color: #636b6f !important;
  padding: 5px 12px !important;
  border-left: 1px solid #ffffff !important;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: $blue;
  border-color: none;
  cursor: default;
}

.form-control {
  border-radius: 0px;
}

.btn {
  border-radius: 0px;
}

.panel {
  box-shadow: none;
  margin-bottom: 15px;
  border-radius: 0px;
}

.panel-heading {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border: 0;
  a {
    font-size: 16px;
  }
}

.panel-footer {
  border-top: none;
  background-color: white;
  color: shade($grey, 25%);
}

.nav-profile {
  padding: 10px 10px 0 0 !important;
  margin-left: 15px;
}

.search-bar {
  max-width:250px;
  margin: 8px 0;
}

.form-control {
  height: 34px;
  box-shadow: none;
}

.filter-sort-btn {
  margin: 0 0 0 15px !important;
  border-radius: 4px !important;
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:inherit;
max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events:all;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.pagination {
  border: 1px #e6e5e5 solid;

}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-radius: 0px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-radius: 0px;
}

.pagination > li > a, .pagination > li > span {
  border: none;
}

.footer {
  text-align: center;
  padding: 10px 0px 10px 0px;
  background-color: #f5f5f5;
  color: #636b6f;
}

.footer a {
  color: #636b6f;
}

.badge-info {
    background-color: $blue;
}

.pseudobutton {
    border: none;
    background: none;
}

.notificationBell {
  font-size: 17px;
  margin-left: 5px;

}

.hasNotifications {
  color :red !important;
}

.customModal {

  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
}

.option-icon-box {
    color: $blue !important;
    font-size: 30px;
}

.nav-cta {
    color: $green !important;
}

.panel-list {
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px #e6e5e5 solid;
}

.panel-list:last-child {
    border-bottom: 0px;
}

.panel-list-container {
    border: 1px #e6e5e5 solid;
}

.list-group-item:last-child {
  border-radius: 0px;  
}

.list-group-item:first-child {
  border-radius: 0px;  
}