

.cm-s-oeabl span.cm-meta {
	color: #FF1717;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-keyword {
	color: #4e99cb;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
	letter-spacing: 1.3px;
	text-transform: uppercase;
}

.cm-s-oeabl span.cm-atom {
	color: #219;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-number {
	color: #164;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-def {
	color: #00f;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-variable {
	color: #687d92;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-variable-2 {
	color: #0000C0;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-variable-3 {
	color: #0000C0;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-property {
	color: black;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-operator {
	color: #0FAB0F;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-comment {
	color: #3F7F5F;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-string {
	color: #2A00FF;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-string1 {
	color: #2A00FF;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-string-2 {
	color: #f50;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-qualifier {
	color: #555;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-builtin {
	color: #30a;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-bracket {
	color: #cc7;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-tag {
	color: #170;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-attribute {
	color: #00c;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-link {
	color: #219;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-error {
	color: #f00;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}

.cm-s-oeabl span.cm-operator1 {
	color: #0FAB0F;
	font-family: Lato Heavy, sans-serif;
	font-size: 12px;
}
.cm-abl1,.cm-abl2
{
	color: #cb20aa;
}
.cm-datatypes{
    color:#ff8c00
}
.cm-s-oeabl .CodeMirror-activeline-background {
	background: #e8f2ff !important;
}

.cm-s-oeabl .CodeMirror-matchingbracket {
	outline: 1px solid grey;
	color: black !important;
}