<template>
    <form @submit="MakeComment" class="comment-box">
        <p class="text-danger" v-if="error !== ''">{{ error }}</p>

        <div :class="InputClass">
            <input type="text" class="form-control" name="message" v-model="comment" placeholder="Message...">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Comment</button>
            </span>
        </div>
    </form>
</template>

<script>
    export default {
        props: ["snippetId", "userId"],
        data() {
            return {
                comment: "",
                error: ""
            };
        },
        methods: {
            MakeComment(e) {
                e.preventDefault();

                axios.post(this.url, { "message": this.comment })
                    .then((response) => {
                        this.comment = "";
                        this.error = "";             
                        
                        this.$emit("update", response.data);
                    })
                    .catch((error) => {
                        this.error = error.response.data.errors.message[0];
                    });
            },
        },
        computed: {
            url() {
                return "/api/snippets/" + this.snippetId + "/comment";
            },
            InputClass() {
                return {
                    "input-group": true,
                    "has-error": this.error !== ""
                }
            }
        }
    }
</script>

<style>
    
    .comment-box {
        margin: 15px 0px;
    }

</style>