<template>

    <div>
        <div class="quote row">
            <div class="col-md-1 col-xs-2 col-sm-1 avatar-box">
                <img class="img-responsive img-rounded comment-avatar" :src="comment.user.avatar">
            </div>
            
            <div class="message-box col-md-11 col-xs-9 col-sm-11">
                    <div class="row user-name">
                        <div class="col-md-11 col-xs-10 col-sm-11">
                            <a :href="'/users/' + comment.user.username">{{ comment.user.username }}</a> - 10 minutes ago
                        </div>

                        <div class="col-md-1 col-xs-2 col-sm-1 text-right" v-if="comment.user_id == userId">
                            <button type="button" class="pseudobutton" @click="showModal()"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>

                <div class="message">
                    {{ comment.message }}
                </div>
                          
               
            </div>
        </div>

        <div class="row" v-if="allowReply == 'true'">
            <div class="col-md-11 col-md-offset-1 col-xs-offset-1">
                <div v-for="reply in comment.replies">
                    <comment :comment="reply" @update="replyComplete()" :user-id="userId" allow-reply="false"></comment>        
                </div>
            </div>
        </div>

        <div class="row reply-box" v-if="allowReply == 'true'">
            <div :class="replyButtonClass" >
                <button v-if="replyMode === false" class="text-primary pseudobutton" @click="ShowReply()">Reply</button>
                <reply-form v-if="replyMode === true" :comment-id="comment.id" @update="replyComplete"></reply-form>
            </div>

        </div>            

        <ajax-modal v-if="displayModal" 
                    button-label="Delete" 
                    button-class="btn btn-danger"
                    @update="modalUpdate"
                    @close="displayModal = false">
            Are you sure you wish to delete this comment?
        </ajax-modal>
    </div>        

</template>

<script>
    export default {
        name: "Comment",
        props: [
            "comment", 
            "allowReply",
            "userId"
        ],
        data() {
            return {
                replyMode: false,
                displayModal: false,
            }
        }, 
        methods: {
            ShowReply() {
                this.replyMode = true;
            },
            replyComplete(response) {
                this.replyMode = false;
                
                this.$emit("update");
            },
            modalUpdate() {
                this.displayModal = false;
                this.deleteComment();
            },
            showModal() {
                this.displayModal = true;
            },
            deleteComment() {
                axios.delete("/api/comments/" + this.comment.id)
                    .then(response => {
                        this.$emit("update");
                    });
            }
        },
        computed: {
            hasReplies() {
                return this.comment.replies.length > 0;
            },
            replyButtonClass() {
                return {
                    "col-md-10 col-md-offset-2 col-xs-10 col-xs-offset-3": this.hasReplies ? true  : false,
                    "col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-2": this.hasReplies ?  false : true,
                    "": this.hasReplies ? true  : false,
                    "": this.hasReplies ?  false : true,
                    "reply-comment-btn": this.hasReplies ?  false : true,

                    "comment-reply-btn": true
                };
            }
        },
        components: {
            ReplyForm: require("./ReplyForm.vue"),
            AjaxModal: require("../AjaxModal.vue"),
        },
    };
</script>

<style lang="scss" scoped>
    .avatar-box {
        padding-right: 0px;

    }

    .comment-avatar {
        display: inline-block;
    }

    .message-box {
        display:inline-block;
    }
    .user-name {
        margin-bottom: 15px;
    }

    .quote {
        margin-bottom: 15px;
    }

    .reply-box {
        padding-bottom: 15px;
    }

    .comment-reply-btn {
        padding: 0;
    }

    .reply-comment-btn {
        padding-left: 10px;
    }
</style>