<template>
    <div class="panel panel-default reply-form">

        <div class="panel-body reply-input">
            <form @submit="MakeComment">
                <p class="text-danger" v-if="error !== ''">{{ error }}</p>

                <div :class="InputClass">
                    <input type="text" class="form-control" name="message" v-model="comment" placeholder="Message...">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Reply</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["commentId"],
        data() {
            return {
                comment: "",
                error: ""
            };
        },
        methods: {
            MakeComment(e) {
                e.preventDefault();

                axios.post(this.url, { "message": this.comment })
                    .then((response) => {
                        this.comment = "";
                        this.error = "";             
                        
                        this.$emit("update", response.data);
                    })
                    .catch((error) => {
                        this.error = error.response.data.errors.message[0];
                    });
            },
        },
        computed: {
            url() {
                return "/api/comments/" + this.commentId + "/reply";
            },
            InputClass() {
                return {
                    "input-group": true,
                    "has-error": this.error !== ""
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    
    .reply-form {
        border: 0;
        padding-right: 15px;
    }

    .reply-input {
        padding: 0;
    }

</style>
